.broadcast-request {
  padding-top: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: white;

  @include mobile {
    padding-top: 19px;
    padding-bottom: 40px;
    background-color: #252525;
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    margin: 0 auto;
    width: 48%;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #363636;
    @include mobile {
      width: 90%;
      font-size: 14px;
      line-height: 24px;
      color: white;
    }
  }

  &__form-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 95px;
    max-width: 820px;
    justify-content: space-around;
    @include mobile {
      position: relative;
      flex-direction: column;
      align-items: center;
      padding-top: 27px;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    text-align: left;
    @include mobile {
      margin-bottom: 61px;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    text-align: left;
    @include mobile {
      margin-bottom: 5px;
    }
  }

  &__label {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
    transform: rotate(-0.07deg);
    @include mobile {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  ::-webkit-input-placeholder {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: black;
  }

  ::-moz-placeholder {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: black;
  }

  :-moz-placeholder {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: black;
  }

  :-ms-input-placeholder {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: black;
  }

  @include mobile {
    ::-webkit-input-placeholder {
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 24px;
      color: white;
    }

    ::-moz-placeholder {
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 24px;
      color: white;
    }

    :-moz-placeholder {
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 24px;
      color: white;
    }

    :-ms-input-placeholder {
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 24px;
      color: white;
    }
  }

  &__input {
    width: 230px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    box-sizing: border-box;
    padding-bottom: 10px;
    @include mobile {
      width: 340px;
    }

    &_distance {
      margin-right: 10px;
      @include mobile {
        margin: 0;
      }
    }
  }

  &__submit {
    display: block;
    width: 200px;
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease-in-out;
    outline: none;
    -webkit-appearance: none;
    @include mobile {
      position: absolute;
      width: 340px;
      bottom: -80%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &__checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
    @include mobile {
      margin-right: 49px;
      padding-top: 20px;
      padding-bottom: 48px;
    }
  }

  &__checkbox-text {
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #181818;
    padding-left: 10px;
    padding-right: 5px;
    @include mobile {
      line-height: 18px;
      color: white;
    }
  }

  [id^=c]{
    display: none;
  }

  [id^=c] + label{
    display: block;
    width: 18px;
    height: 18px;
    background: #E3B873;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  [id^=c]:checked + label span{
    position: relative;
    display: inline-block;    
    margin-left: -9px;   
  }

  [id^=c]:checked + label span:before{
    content: '';
    position: absolute;
    left: 0px;
    top: -3px;
    width: 4px;
    height: 2px;
    background: white;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);  
  }

  [id^=c]:checked + label span:after{
    content: '';
    position: absolute;
    left: 3px;
    top: -4px;
    width: 7px;
    height: 2px;
    background: white;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);      
  }
}
