.clients {
  margin: 0 auto;
  width: 100%;
  background: #80808000;
  @include mobile {
    display: none;
  }
  
  &__container {
    margin: 96px auto 0;
    max-width: 1440px;
  }

  &__title {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
  }

  &__icon {
    margin: 13px auto 0;
    display: block;
    width: 115px;
  }

  &__text {
    margin: 20px auto 0;
    width: 25%;
    margin: 20px auto 0;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #363636;
  }

  &__person-parameters {
    position: absolute;
    display: flex;
    bottom: -27px;
    flex-direction: row;
    justify-content: space-around;
    width: 294px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    font-family: Yeseva One;
    font-size: 17px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__person-area, &__person-time {
    display: flex;
    flex-direction: row;
  }
  
  &__person-area {
    border-right: 1px solid white;
  }

  &__person-area-text, &__person-time-text {
    padding-right: 18px;
    margin-left: 16px;
  }

  &__person-area-img {
    margin: auto 0 auto 11px;
    width: 31px;
    height: 31px;
  }
  
   &__person-time-img {
    margin: auto 0;
    width: 33px;
    height: 31px;
  }
  
  &__feedbacks {
    margin: 45px 74px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__item {
    position: relative;
    width: 376px;
    padding-bottom: 93px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  }

  &__person {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__person-img {
    margin-left: 20px;
    margin-top: 25px;
    width: 77px;
  }

  &__person-name {
    margin-top: 41px;
    margin-left: 23px;
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
  }

  &__person-text-1 {
    margin-top: 16px;
    padding-left: 21px;
    width: 93%;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 27px;
    color: #959595;
  }

  &__person-text-2 {
    margin-top: 7px;
    padding-left: 21px;
    width: 93%;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 27px;
    color: #959595;
  }
}
