* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: 0;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
}

a {
  transition: all 0.3s ease-in-out;
  color: #f2c06b;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}

textarea {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}

button {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
}

.main {
  margin: 0 auto;
  flex: 1;
}

footer {
  flex: 1;
}
