.turnkey {
  width: 100%;
  background-color: #131313;
  margin: 0 auto;

  &__container {
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
    height: 707px;
    flex-direction: row;
    @include mobile {
      height: 477px;
    }
  }

  &__instagram {
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 100%;
    background-color: #131313;
    position: relative;
    @include mobile {
      display: none;
    }
  }

  &__instagram-text {
    display: block;
    position: absolute;
    left: 4%;
    top: 37.2%;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #E3B873;
    text-transform: uppercase;
    transform: rotate(90deg);
    vertical-align: middle;
  }

  &__instagram-line {
    position: relative;
  }

  &__instagram-line:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    color: #E3B873;
    transform: rotate(90deg);
  }

  &__instagram-scroll-down {
    position: absolute;
    top: 93%;
    display: flex;
    justify-content: center;
    width: 247px;
    height: 97px;
    background: #131313;
    text-align: center;
  }

  &__instagram-scroll-down-text {
    font-family: Yeseva One;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 100px;
    padding-right: 19px;
  }

  .scroll-down {
    transition: .5s;
    margin: auto 0;

    span {
      color: #E3B873;
      border-radius: 50%;
      border: 1.5px solid #E3B873;
      width: 29px;
      height: 29px;
      display: block;
      position: relative;
      transition: .5s;
      &:before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        transform: rotate(-45deg);
        border-left: 1.5px solid #E3B873;
        border-bottom: 1.5px solid #E3B873;
        top: 9px;
        left: 9px;
        transition: .5s;
      }
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  &__info {
    background: url("../../assets/img/Group 7.png");
    width: 100%;
    display: flex;
    align-items: center;
    @include mobile {
      align-items: flex-start;
    }
  }

  &__info-wrapper {
    width: 40%;
    margin-left: 58px;
    margin-bottom: 15px;
    @include mobile {
      margin-left: 18px;
      margin-top: 85px;
      width: 100%;
    }
  }

  &__info-title {
    margin-bottom: 15px;
    font-family: Yeseva One;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    @include mobile {
      width: 95%;
      font-size: 23px;
      line-height: 132.83%;
    }
  }

  &__info-title-highlight {
    font-family: Yeseva One;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
    font-weight: normal;
    @include mobile {
      font-size: 23px;
      line-height: 132.83%;
    }
  }

  &__info-text {
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    width: 77%;
    margin-bottom: 48px;
    @include mobile {
      margin-bottom: 32px;
      width: 82%;
      font-size: 18px;
      line-height: 135.84%;
    }
  }

  &__info-button {
    display: flex;
    flex-direction: row;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    @include desktop {
      width: 350px;
    }
  }

  &__info-button-calc {
    margin-right: 20px;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 50px;
    width: 207px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    @include mobile {
      margin: auto auto 26px 0;
      width: 338px;
    }

    @include desktop {
      font-size: 12px;
    }
  }

  &__info-button-submit {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 50px;
    width: 207px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    @include desktop {
      font-size: 12px;
    }
    @include mobile {
      margin: 0 auto 20px 0;
      line-height: 47px;
      width: 338px;
    }
  }
}
