.types {
  margin: 0 auto;
  width: 100%;
  padding-top: 114px;
  padding-bottom: 100px;
  background-color: white;

  @include mobile {
    padding-top: 58px;
  }

  &__container {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 29px;
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.23px;
    @include mobile {
      margin-bottom: 15px;
      font-size: 22px;
      letter-spacing: 0.2px;
    }
  }

  &__img {
    margin-bottom: 28px;
    width: 114px;
    height: 28px;
  }

  &__items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    @include mobile {
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    width: 392px;
    &:nth-child(2) {
      margin: 0 30px;
      @include mobile {
        margin: 175px 0;
      }
    }

    @include mobile {
      max-width: 340px;
    }
  }

  &__item-img {
    @include mobile {
      width: 340px;
    }

    @include desktop {
      width: 230px;
    }
  }

  &__description {
    position: absolute;
    left: 31px;
    bottom: -157px;
    width: 330px;
    height: 286px;
    padding-top: 19px;
    padding-left: 33.5px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    @include mobile {
      padding-top: 19px;
      padding-left: 31.5px;
      max-width: 270px;
      left: 0;
      bottom: -96px;
      height: 241px;
    }

    @include desktop {
      margin: 0 auto;
      left: 0;
      right: 0;
      max-width: 208px;
      height: 286px;
    }
  }

  &__description-title {
    font-family: Yeseva One;
    text-align: left;
    font-size: 18px;
    line-height: 33px;
    color: #363636;
    @include mobile {
      font-size: 15px;
      line-height: 27px;
    }
  }

  &__list-text {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 26px;
    color: #959595;
    text-align: left;
    @include mobile {
      font-size: 13px;
    }
  }

  &__list-text-item {
    line-height: 26px;
    @include mobile {
      line-height: 23px;
    }
  }

  &__button {
    position: absolute;
    bottom: -185px;
    left: 31px;
    width: 228px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
    @include mobile {
      bottom: -118px;
      left: 0;
      width: 190px;
      font-size: 15px;
      line-height: 40px;
    }

    @include desktop {
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 208px;
    }
  }
}
